{% extends "index.html" %}




{% block content %}


{% if messages %}
        {% for category, message in messages %}
        <div class="text-center">
               <div class="alert {{category}} rounded-0 m-0"  role="alert">{{message}}</div>
        </div>
{% endfor %}
{% endif %}


 <main class="flex-grow-1">
    <div class="container-lg mt-3">

<h1>Сайт: {{url.name}}</h1>


  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{url.id}}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{url.name}}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{url.created_at}}</td>
        </tr>
      </tbody>
    </table>
  </div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="{{ url_for('check_url', url_id=url.id) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    <input type="hidden" name="url" value="{{ url.name }}">
    </form>

  <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>

    <tbody>
      {% for row in checks %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.status_code }}</td>
            <td>{{ row.h1 or '' }}</td>
            <td>{{ row.title or '' }}</td>
            <td>{{ row.description or '' }}</td>
            <td>{{ row.created_at }}</td>
        </tr>
      {% endfor %}

    </tbody>
    </table>
  </div>

    </div>
  </main>
{% endblock %}